<% remote_form_for(reservation) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :date %> 
    <%= f.text_field :date, :class => "text mini-textfield" %>
  </p>
  <p>
  <%= f.label :room_id %> 
    <%= collection_select :reservation, 
      :room_id, 
      Room.find(:all), 
      :id, 
      :name,
      {},
      :class => "text mini-select"
    %>
  </p>
  <p>
    <%= f.label :comment %> <%= f.text_area :comment, :class => "text mini-textbox"%>
  </p>
  <p>
  <%= f.submit "Reserve", :class => "text mini-submit" %>
  </p>    
<% end %>
