<h2>New reservation</h2>

<% form_for(@reservation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :room_id %><br />
    <%= collection_select :reservation, :room_id, Room.find(:all), :id, :name %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.label :begining_at %><br />
    <%= f.datetime_select :begining_at %>
  </p>
  <p>
    <%= f.label :end_at %><br />
    <%= f.datetime_select :end_at %>
  </p> 
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', reservations_path %>
